<!DOCTYPE html>
  <style>
.panel {
    border: 1px solid #989499; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #989499;
}

.panel-heading {
    color: #fff !important;
    background-color: #989499 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #989499;
    color: #989499;
}
</style>
<html lang="en">

             <h1>TAXI XPRESS</h1>
                <p>Taxi Xpress es una empresa dedicada al Servicio de Taxi con más de 5 años de experiencia, el tiempo nos ha ayudado a fortalecernos y brindar un servicio de calidad, por el cual tenemos el respaldo de nuestros clientes.
                    Es nuestro deseo llegar a ustedes para ofrecerles un servicio de Calidad, brindándoles puntualidad y seguridad las 24 horas del día y los 365 días del año.<p>
            
                 <div class="panel panel-info">
                      <div class="panel-heading">    <h4>MISIÓN</h4></div>
                      <div class="panel-body">Brindar un servicio altamente calificado en el transporte de usuarios de una manera confiable, segura y con una atención personalizada, orientados a satisfacer la necesidad de nuestros clientes y colaboradores.</div>
                </div>
            
            
                  <div class="panel panel-info">
                      <div class="panel-heading"><h4>VISIÓN</h4></div>
                      <div class="panel-body">Posicionarnos como la empresa líder en el transporte de usuarios, que brinde la más alta calidad de servicios. Basándonos en la atención profesional y personal de nuestro equipo, asegurando la satisfacción plena del usuario.</div>
                </div>

</html>
              
