 <h1>TAXI XPRESS</h1>
    <p>Taxi Xpress es una empresa dedicada al Servicio de Taxi con más de 5 años de experiencia, el tiempo nos ha ayudado a fortalecernos y brindar un servicio de calidad, por el cual tenemos el respaldo de nuestros clientes.
Es nuestro deseo llegar a ustedes para ofrecerles un servicio de Calidad, brindándoles puntualidad y seguridad las 24 horas del día y los 365 días del año.<p>

     <div class="panel panel-info">
      <div class="panel-heading">    <h4>MISIÓN</h4></div>
      <div class="panel-body">Brindar un servicio altamente calificado en el transporte de usuarios de una manera confiable, segura y con una atención personalizada, orientados a satisfacer la necesidad de nuestros clientes y colaboradores.</div>
    </div>


      <div class="panel panel-info">
      <div class="panel-heading"><h4>VISIÓN</h4></div>
      <div class="panel-body">Posicionarnos como la empresa líder en el transporte de usuarios, que brinde la más alta calidad de servicios. Basándonos en la atención profesional y personal de nuestro equipo, asegurando la satisfacción plena del usuario.</div>
    </div>



<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>PROMOCIONES</h3>
        <p>Entérate de las promociones que tenemos para tí</p>
        <p><a href="/" class="btn btn-primary" role="button">Ver Promociones</a> </p>
      </div>
    </div>
  
    
  </div>
</div>
<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>TARIFAS</h3>
        <p>Tenemos los mejores precios del mercado</p>
        <p><a href="/pages/tarifas" class="btn btn-primary" role="button">Ir a Tarifas</a> </p>
      </div>
    </div>
  
    
  </div>
</div>
<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>CONTÁCTANOS</h3>
        <p>Entérate de cómo ubicarnos</p>
        <p><a href="/pages/contactanos" class="btn btn-primary" role="button">Ir a Contáctanos</a> </p>
      </div>
    </div>
  
    
  </div>
</div>