<div class="container">
  <h1 class="text-center">TAXI XPRESS</h1>
  <p class="text-center"><em>LIBRO DE RECLAMOS</em></p>
  <div class="row test">
    <div class="col-md-4">
      <p>NOS CONTACTAREMOS PRONTO CONTIGO</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Chorrillos, Lima</p>
      <p><span class="glyphicon glyphicon-phone"></span>Teléfono: +01 254-5454</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: librodereclamos@taxixpress.com</p> 
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombres" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="5"></textarea>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>