 <style>
.panel {
    border: 1px solid #989499; 
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #989499;
}

.panel-heading {
    color: #fff !important;
    background-color: #989499 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #989499;
    color: #ffffff;
}
</style>
<div class="container-fluid">
  <div class="text-center">
    <h2>Nuestras Tarifas</h2>
    <h4>Elije nuestros servicios personalizados según la distancia</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Sedan</h1>
        </div>
        <div class="panel-body">
          <p><strong>Corta</strong> S/.10 - S/.25</p>
          <p><strong>Mediana</strong> S/.26 - S/.35</p>
          <p><strong>Larga</strong> S/.36 - S/.60</p>
        </div>
        <div class="panel-footer plan">
          <h3>S/.10</h3>
          <h4>Tarifa Mínima</h4>
          <button class="btn btn-lg">Solicitar Servicio</button>
        </div>
      </div> 
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Station</h1>
        </div>
        <div class="panel-body">
          <p><strong>Corta</strong> S/.15 - S/.30</p>
          <p><strong>Mediana</strong> S/.31 - S/.40</p>
          <p><strong>Larga</strong> S/.41 - S/.65</p>
        </div>
        <div class="panel-footer plan">
          <h3>S/.15</h3>
          <h4>Tarifa Mínima</h4>
          <button class="btn btn-lg">Solicitar Servicio</button>
        </div>
      </div> 
    </div> 
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Mini-Van</h1>
        </div>
        <div class="panel-body">
          <p><strong>Corta</strong> S/.20 - S/.35</p>
          <p><strong>Mediana</strong> S/.36 - S/.45</p>
          <p><strong>Larga</strong> S/.46 - S/.70</p>
        </div>
        <div class="panel-footer plan">
          <h3>S/.20</h3>
          <h4>Tarifa Mínima</h4>
          <button class="btn btn-lg">Solicitar Servicio</button>
        </div>
      </div> 
    </div> 
  </div>
</div>
