						

<p><b>CONDICIONES GENERALES PARA EL USO DE LA APLICACIÓN “TAXIXPRESS” POR PASAJEROS</b></p>
	<p align="right">Última actualización: 23 de octubre de 2015</p>
	<p><b>AVISO PARA LOS PASAJEROS</b>: El Pasajero acepta todos los términos establecidos en el presente documento antes de utilizar la aplicación de TaxiXpress así como cualquier actualización futura de dicha aplicación y/o de las presentes políticas. De igual modo el Pasajero acepta las políticas complementarias y/o específicas vigentes que pudieren existir para servicios específicos, así como las actualizaciones de las mismas, en el momento que ello ocurriere. En caso el Pasajero no esté de acuerdo con los términos y condiciones siguientes, deberá abstenerse de utilizar esta aplicación y sus actualizaciones, toda vez que la utilización de la Aplicación implica manifestación de conformidad del Usuario con todos los Términos y Condiciones.</p>
	<p><b>DECLARACIONES DE LOS PASAJEROS: </b>El Pasajero afirma que tiene por lo menos 18 años de edad, o es un menor de edad emancipado, o posee consentimiento legal paterno o de su tutor, y es plenamente capaz y competente de acuerdo a lo establecido por el Código Civil Peruano para obligarse en términos de este contrato, y a acatar y cumplir con estos.</p>
	<p>Al descargar y/o usar la aplicación usted manifiesta y garantiza lo siguiente:</p>
	<p>a. que tiene el derecho, autoridad y capacidad para cumplir con todos los Términos y Condiciones;</p>
	<p>b. que está en la posibilidad de pagar por el servicio brindado por los taxistas afiliados;</p>
	<p>c. que la información que proporcione a TaxiXpress será veraz y precisa;</p>
	<p>d. que la utilización de la aplicación y/o pagina web es a título personal, no siendo posible que sea utilizado por un tercero, diferente a usted.</p>
	<p><b>1.         </b><b> DEFINICIONES</b></p>
	<p>Para los efectos del presente contrato, se deberán tener en cuenta las siguientes definiciones, sin importar si se utilizan en la forma singular o plural:</p>
	<p><b>“Aplicación” </b>significa la aplicación denominada “TaxiXpress” para Pasajeros, que es un programa  informático que permite que su teléfono celular o móvil, tableta y/o</p>
	<p>computador personal realice las funciones o tareas que se describen en el punto 3. de este contrato.</p>
	<p><b>“Aplicación de Taxistas” </b>significa la aplicación denominada “TaxiXpress Conductor” que es un programa informático que le permite a los teléfonos celulares o móviles de taxistas aceptar solicitudes de servicios de taxis realizadas por Pasajeros.</p>
	<p><b>“Contraseña” </b>significa los identificadores, contraseñas u otras formas de verificación de la identidad necesarias para acceder a la Aplicación.</p>
	<p>“<strong>Página Web</strong>” significa la página web de TaxiXpress con URL: Taxibeat.com.pe que le permite realizar solicitudes de servicios de taxis a taxistas afiliados.</p>
	<p>“<strong>Pasajero</strong>” significa el pasajero que ha completado el proceso de registro, aceptado los Términos y Condiciones detallados a continuación y ha sido autorizado por TaxiXpress para el uso de la Aplicación.</p>
	<p>“<strong> TaxiXpress </strong>” significa TaxiXpress Perú S.A. una sociedad anónima constituida conforme las leyes de la República de Perú, que es titular o licenciataria autorizada de la Aplicación.</p>
	<p>“<strong>Taxista afiliado</strong>” significa conductor que proporciona a título personal el servicio de transporte de pasajeros y que decide afiliarse a TaxiXpress con el fin de poder utilizar la “Aplicación de Taxistas” que le permite aceptar solicitudes de servicios de taxis realizadas por Pasajeros.</p>
	<p><b>2.         </b><b>AUTORIZACIÓN DE USO DE APLICACIÓN, REQUERIMIENTOS TÉCNICOS Y RESTRICCIONES DE USO</b></p>
	<p>2.1 Durante la vigencia del presente Contrato, el Pasajero tendrá el derecho no exclusivo, gratuito, revocable e intransferible de utilizar la Aplicación exclusivamente para las funciones que se establecen más adelante en el punto 3.</p>
	<p>2.2 El Pasajero recibirá una contraseña de modo que será el único autorizado para acceder a la Aplicación mediante tal contraseña. El Pasajero será el único responsable de la conservación y confidencialidad de su contraseña y se compromete a no comunicarla bajo ninguna circunstancia a ningún otro usuario, y a no utilizar la cuenta, el nombre o la contraseña de ningún otro usuario. Queda expresamente establecido que el uso de la contraseña constituye su aceptación incondicional de los términos y condiciones del presente contrato.</p>
	<p>2.3 El Pasajero será responsable de contar con un teléfono celular o móvil o tableta o computadora que cumpla con las características y requerimientos técnicos para acceder y utilizar la Aplicación o la página web, incluyendo la conexión Internet. Las características y requerimientos técnicos referidos serán notificados al Pasajero por TaxiXpress antes de la descarga de la Aplicación o cualquiera de sus actualizaciones. Queda establecido que el Pasajero asumirá el costo de su servicio telefónico y de Internet, y deberá consultar con las empresas de telecomunicaciones respectivas las tarifas por el uso de planes de voz y datos. De otro lado, TaxiXpress se reserva el derecho de comprobar automáticamente la versión del sistema operativo que utiliza el Usuario para acceder a la Aplicación, desde cualquier plataforma, y/o a la página web de TaxiXpress, a fin de informar al Pasajero que requiere instalar o actualizar determinado programa para acceder o mejorar su acceso a la Aplicación y/o a la página web.</p>
	<p>2.4 El Pasajero se obliga a no modificar, reproducir, copiar, realizar ingeniería inversa, revertir la ingeniería, rediseñar, descompilar, adaptar, traducir, preparar trabajos derivados de la Aplicación o usar la Aplicación para desarrollar cualquier software u otros materiales basados en el mismo. Asimismo,  se obliga a utilizar la Aplicación únicamente en la forma permitida en este contrato. La aplicación se encuentra protegida por la legislación vigente en materia de Derecho de Autor. De igual manera el Pasajero se obliga a no modificar, reproducir, copiar, realizar ingeniería inversa, revertir la ingeniería, rediseñar, descompilar, adaptar, traducir, preparar trabajos derivados de la página web o usar dicha web para desarrollar cualquier software u otros materiales basados en el mismo.</p>
	<p>2.5 El Pasajero acepta y reconoce que TaxiXpress podrá realizar acciones legales para requerir y asegurar el cumplimiento de todas las disposiciones establecidas en el presente contrato, así como solicitarle el resarcimiento por daños y perjuicios ocasionados por incumplimiento de sus obligaciones, incluyendo tal concepto la indemnización por daño emergente y lucro cesante.</p>
	<p>2.6 Toda la información que facilite el Usuario a TaxiXpress deberá ser veraz. A estos efectos, el Usuario garantiza la autenticidad de todos aquellos datos que comunique como consecuencia del llenado y posterior envío a TaxiXpress de los formularios necesarios para la suscripción del servicio. De igual forma, el Usuario será responsable de mantener toda la información facilitada a TaxiXpress permanentemente actualizada de forma que responda, en cada momento, a su situación real y actual. En todo caso el Pasajero será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a TaxiXpress o a terceros por la información que facilite.</p>
	<p>2.7 El Pasajero reconoce expresamente que es el único y exclusivo responsable del uso que le dé a la Aplicación, así como de cualquier acción que tenga lugar mediante dicho uso, por lo que no cabe imputación alguna de responsabilidad frente a TaxiXpress.</p>
	<p>2.8 El Pasajero reconoce el derecho de TaxiXpress, en el caso de que su uso de la Aplicación sea inadecuado, ilícito, abusivo o viole los presentes Términos y Condiciones, los Términos y Condiciones Complementarios, los Términos específicos de servicios o en general los derechos de terceros, las leyes y los reglamentos vigentes, a proceder inmediatamente y sin notificación previa a retirarlo de la Aplicación y/o a bloquear su acceso a éste.</p>
	<p>2.9. El Pasajero reconoce que en los casos que transporte mercancías o las remita por traslado tipo courier las mismas cumplen con la legislación vigente en la materia y asume la responsabilidad sobre el traslado de las mismas en toda la extensión de la ley.</p>
	<p>2.10. No se podrán registrar desde un mismo número telefónico más de un usuario.</p>
	<p>2.11. En caso de que El Pasajero viole la legislación o infrinja los derechos de terceros, TaxiXpress tiene derecho a facilitar, previa solicitud de cualquier autoridad legítima (tribunales, autoridades administrativas y fuerzas policiales), cualquier información que permita o facilite la identificación del infractor.</p>
	<p><b>3.         </b><b>FUNCIONES DE LA APLICACIÓN</b></p>
	<p>3.1 Por medio de la Aplicación y/o la Página Web, el Pasajero podrá solicitar servicios de transporte de pasajeros a Taxistas Afiliados que cuenten con la Aplicación de Taxistas así como conocer el nombre, ubicación y otra información del Taxista Afiliado respectivo. El Pasajero reconoce que la información que reciba de los Taxistas Afiliados consiste en Datos Personales, por lo que a su vez se constituye como único responsable del manejo de la misma y se compromete a utilizarla exclusivamente a efectos de solicitar el servicio.</p>
	<p>3.2 Los Taxistas Afiliados son independientes y libres de aceptar o rechazar las solicitudes de servicios que envíe el Pasajero, incluso si aparecen como disponibles en la Aplicación y/o Página Web. Al respecto, por medio del presente contrato queda establecido que TaxiXpress no proporciona servicios de taxi, transporte de pasajeros, “radio taxi” ni es un sitio web de taxi. TaxiXpress únicamente autoriza el uso de la Aplicación y/o su Página Web a efectos que el Pasajero pueda contactar de manera más eficiente a Taxistas Afiliados que utilicen la Aplicación de Taxistas.</p>
	<p>3.3 A través de esta Aplicación y/o Página Web, el Pasajero también podrá calificar y publicar comentarios y opiniones respecto de los Taxistas Afiliados que presten servicios de transporte a través de la Aplicación y/o Página Web, así como revisar las calificaciones de Taxistas Afiliados que han otorgado otros pasajeros que cuenten con la Aplicación o accedan por medio de la Página Web. En consecuencia, el Pasajero se obliga a que la información que transmita o publique a través de la Aplicación y/o Página Web: cumplirá con todas las normas y leyes vigentes de la jurisdicción en la que el Pasajero esté ubicado y del Estado Peruano; no será falsa, engañosa, calumniosa, injuriosa, difamatoria, obscena, pornográfica, amenazante o fraudulenta;</p>
	<p><span style="line-height: 1.5;">3.4    </span>Asimismo, TaxiXpress se reserva el derecho de, a su juicio, bloquear el acceso o remover en forma parcial o total, toda información, comunicación o material, incluyendo opiniones, comentarios o calificaciones que el Pasajero u otros pasajeros, Taxistas Afiliados o usuarios de la Aplicación o la Aplicación de Taxistas o de la Página Web publiquen:</p>
	<p>(i) Que esté protegido por derechos de propiedad intelectual, protegidas por el secreto comercial o marca comercial, o de otra manera impliquen los derechos de propiedad de terceros, incluidos los derechos de privacidad y publicidad, a menos que usted sea el propietario de dichos derechos o tenga permiso o una licencia de su legítimo propietario para publicar el material.</p>
	<p>(ii) Que sea dañino, abusivo, ilegal, amenazante, acosador, difamatorio, pornográfico, calumnioso, invasivo de la privacidad, que dañe o pueda dañar a menores de cualquier manera.</p>
	<p>(iii) Que acose, degrade, intimide o sea odioso hacia un individuo o grupo de individuos sobre la base de la religión, el género, la orientación sexual, la raza, la etnia, la edad o la discapacidad.</p>
	<p>(iv) Que discrimine por razón de raza, etnia, religión, sexo, origen nacional, edad o discapacidad.</p>
	<p>(v) Que incluya información personal o de identificación de otra persona sin el consentimiento expreso de esa persona.</p>
	<p>(vi) Que imite a otra persona o entidad, incluyendo, pero no limitado a, un empleado de TaxiXpress, o falsa declaración o distorsione su afiliación con una persona o entidad.</p>
	<p>(vii) Que constituya o contenga &#8220;esquemas piramidales&#8221;, &#8220;marketing de afiliación&#8221;, &#8220;código de referencia a enlace&#8221;, &#8220;correo basura&#8221;, &#8220;spam&#8221;, &#8220;cartas en cadena&#8221;, o anuncios publicitarios no solicitados de carácter comercial.</p>
	<p>(viii) Que incluya enlaces a servicios comerciales o sitios Web de terceros.</p>
	<p>(ix) Que publicite servicios ilícitos o la venta de cualquier artículo cuya venta está prohibida o restringida por la ley aplicable.</p>
	<p>(x) Que contenga virus de software o cualquier otro código de computadora, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware o equipo de telecomunicaciones.</p>
	<p>(xi) Que interrumpa el flujo normal del diálogo con una cantidad excesiva de mensajes (ataque masivo) al Servicio, o que afecte en forma negativa la capacidad de otros usuarios para utilizar el Servicio.</p>
	<p>3.5 El Pasajero podrá también conocer, con base en los comentarios, opiniones y calificaciones de otros pasajeros, la reputación formada únicamente entre nuestros usuarios del servicio otorgado para ese Taxista Afiliado. TaxiXpress no es responsable de las calificaciones, comentarios u opiniones que el Pasajero u otros pasajeros otorguen a los Taxistas Afiliados que cuenten con la Aplicación de Taxistas, o se realicen mediante la Página Web. TaxiXpress no garantiza la honradez, solvencia o cumplimiento por parte de dichos Taxistas Afiliados sino que únicamente comparte la opinión que tienen sobre ellos otros usuarios del servicio</p>
	<p>3.6 TaxiXpress no es una empresa de taxi, transporte de pasajeros ni proporciona servicios de taxi. La naturaleza del presente contrato es otorgarle al Pasajero el uso de la Aplicación y/o de la Página Web, a efectos que pueda conectarse a través de la misma con Taxistas Afiliados para solicitar servicios por medio de la Aplicación de Pasajeros y/o mediante la Página Web. Para que un Taxista se convierta en Taxista Afiliado deberá pasar por una evaluación previa, tras lo cual podrá utilizar la Aplicación y/o la página web y, en consecuencia, puede aceptar o rechazar de modo libre y autónomo una solicitud de servicio, no encontrándose obligado y siendo única y exclusivamente responsable por la aceptación o rechazo de una solicitud de servicio. TaxiXpress no tiene ninguna relación laboral con el Taxista Afiliado. De este modo cualquier responsabilidad legal (civil, penal o administrativa) por actos realizados, información no veraz y/o incumplimientos normativos será responsabilidad plena de dicho Taxista Afiliado. En caso los Pasajeros tengan algún inconveniente con los servicios prestados por los Taxistas Afiliados, podrán reportar dichos inconvenientes al TaxiXpress, TaxiXpress procurará sus mejores esfuerzos para que entre los Usuarios y los Taxistas Afiliados se puedan resolver los inconvenientes de manera amistosa y directa.</p>
	<p>3.7 TaxiXpress ofrece a Personas Jurídicas de Derecho Público o Derecho Privado, un servicio para sus empleados, regido por un contrato específico. La opción de viaje corporativo podrá ser encontrada por los Usuarios autorizados, luego de indicar el lugar de origen y de destino del servicio, de acuerdo con lo establecido en el contrato.</p>
	<p>3.8 El Pasajero es libre en todo momento de enviar solicitudes de servicio a través de la Aplicación y/o página web y de abordar el taxi de su preferencia, no encontrándose obligado a enviar solicitudes de servicio o a abordar algún taxi en particular. La relación entre el taxista afiliado y el Pasajero es autónoma e independiente.</p>
	<p>3.9 El Pasajero reconoce que a través de la Aplicación de Taxistas, los taxistas Afiliados podrán calificar, hacer comentarios y publicar opiniones sobre el servicio brindado al Pasajero. Tales calificaciones, comentarios y opiniones serán compartidas con otros taxistas afiliados y usuarios de la Aplicación de Taxistas.</p>
	<p>3.10 Por medio del presente contrato queda establecido que TaxiXpress no es responsable de los comentarios, opiniones y calificaciones que otorgue el taxista afiliado, otros usuarios o los pasajeros con relación a los servicios. Asimismo, el Pasajero reconoce que asume el riesgo respecto de la honradez, solvencia y/o cumplimiento de los taxistas afiliados que acepten sus servicios, no siendo posible imputar a TaxiXpress responsabilidad alguna al respecto. TaxiXpress no será responsable por actos o hechos de los Taxistas afiliados ni garantiza su honradez, solvencia, moralidad o comportamiento.</p>
	<p>3.11 Si el Pasajero desea obtener mayor información acerca de un taxista Afiliado en particular podrá consultarlo con TaxiXpress, quien evaluará dicho requerimiento de modo tal que no incumpla la legislación vigente para entregar dicha información..</p>
	<p><strong>4. USO GRATUITO DE LA APLICACIÓN Y/O PÁGINA WEB</strong></p>
	<p>4.1 El uso de la Aplicación y/o Pagina Web, conforme a lo establecido en este contrato, será totalmente gratuito para el Pasajero. Sin perjuicio de ello, el Pasajero será responsable del costo de su servicio telefónico y de Internet, y deberá consultar con las empresas de telecomunicaciones respectivas las tarifas por el uso de planes de voz y datos.</p>
	<p><strong>5. MODALIDADES DE PAGO DEL TRASLADO DE PASAJEROS</strong></p>
	<p>5.1 La aplicación TaxiXpress brinda las mayores facilidades con el fin de concretar el pago del traslado del pasajero de una manera eficiente..</p>
	<p>5.2 El pago se puede realizar mediante dos modalidades:</p>
	<p>a) A través de los taxistas afiliados mediante el uso de efectivo, y</p>
	<p>b) Mediante el uso de tarjeta de crédito y/o débito. El precio de las tarifas es mostrado en nuevos soles y de manera previa, en la aplicación y/o página web, antes de solicitar el servicio, de traslado del pasajero. Para el caso de tarjetas de crédito o débito, el monto señalado en la aplicación no incluye la comisión que cobra cada banco por el uso de la misma. Los usuarios aceptan que puede haber circunstancias fuera del control de TaxiXpress que podrían causar que una tarjeta de crédito y/u otro medio utilizado sea rechazado. Las tarifas aplicables al Servicio serán cobradas de forma automática, una vez finalizado el traslado, a través de los datos de la tarjeta de crédito facilitados por el Usuario en la Aplicación y/o página web. Cuando un usuario facilita una nueva tarjeta de crédito o débito, se podrá realizar una validación de dicho instrumento de pago mediante un cobro y extorno del mismo. Si por algún motivo el instrumento de pago que usted ha designado no cuenta con fondos suficientes, ha caducado su vigencia, es inválido o de otro modo no sirve para cobrarle, usted acepta que TaxiXpress, utilice o lo contacte para proporcionar un método de pago alterno, que usted hubiere proporcionado, de ser posible.</p>
	<p>Las tarifas cobradas no serán reembolsables.</p>
	<p>5.3 Los pagos realizados a través del sistema de pago dentro de la aplicación y/o Página web son recogidos y procesados mediante la tecnología del procesador de pagos y su socio comercial TaxiXpress UK, y podrían generar costos por transacciones en el extranjero así como costos por cambio de divisas, ya que dependiendo de la marca de tarjeta de crédito, las transacciones podrán ser cargadas en moneda extranjera.</p>
	<p>5.4. El pago final pudiera contar con algún recargo específico, tales como:</p>
	<p>a) Tiempo de espera al pasajero: habrá una cortesía de 10 minutos, se cobrará s/3 por cada 10 minutos adicionales</p>
	<p>b) Paradas: se cargará S/3. Por cada 10 minutos de espera</p>
	<p>c) Desvíos: si se sale de la ruta para dejar acompañantes máximo 5 cuadras S/3 adicionales</p>
	<p>d) Peajes y Estacionamiento: No incluidos en la tarifa inicial</p>
	<p>e) Aeropuerto: Cortesía 1 hora de estacionamiento para recojos.</p>
	<p>f) Courier: se cargará S/3, por traslado.</p>
	<p>5.5 En determinadas circunstancias se podrá variar la tarifa de un traslado por circunstancias tales como períodos de tiempo de alta demanda, así como a determinadas zonas durante períodos específicos de tiempo. Esta variación estará reflejada en la tarifa que el Pasajero conocerá de manera previa a realizar su solicitud de traslado.</p>
	<p>5.6. Todas las promociones y descuentos, así como sus condiciones de uso, estarán disponibles en la Aplicación y/o Sitio Web. TaxiXpress podrá restringir el uso de promociones y descuentos cuando los usuarios hagan un uso inadecuado, ilícito o abusivo de las mismas.</p>
	<p>Las Promociones y Descuentos:</p>
	<p>(i) Deben utilizarse de acuerdo a las políticas específicas establecidas, (ii) No podrán ser utilizadas más allá del plazo establecido; (iii) TaxiXpress podrá revocarlas en cualquier momento, en el marco de la legislación vigente, sin responsabilidad legal para TaxiXpress; (iv) De ser promociones reservadas no podrán ser puestas a disposición abierta del público en general por parte de los beneficiarios.</p>
	<p><strong>6. PROHIBICIÓN DE DISTRIBUCIÓN Y TRANSFERENCIA</strong></p>
	<p>6.1 El Pasajero no podrá distribuir, arrendar, otorgar licencias, ceder ni transferir sus derechos de uso de la Aplicación y/o página web, ni autorizar su copia total o parcial en el equipo de otro usuario. El Pasajero no pondrá la Aplicación y/o página web a disposición de otros usuarios de manera alguna ni en un servidor host, oficina de servicio o similar, ni a través de Internet o de cualquier otro modo.</p>
	<p><strong>7.        DERECHOS DE PROPIEDAD INTELECTUAL Y OBLIGACIONES DE CONTENIDOS</strong></p>
	<p>7.1       TaxiXpress y sus proveedores y filiales son titulares de la propiedad intelectual de la Aplicación y Página Web, incluyendo los derechos de autor sobre el código fuente y el código objeto de la Aplicación y la Página Web y los derechos sobre todas las marcas, logos, slogans, diseños, imágenes, videos, información, música, sonidos, nombres comerciales y otra propiedad intelectual e industrial que forme parte del contenido de la Aplicación o Página Web. En consecuencia, el Pasajero se encuentra prohibido y se compromete expresamente a no copiar, reproducir, modificar, alterar, distribuir, suprimir o de cualquier forma usar dicha propiedad intelectual en forma distinta a la establecida en este Contrato.</p>
	<p>7.2       El presente contrato es uno de autorización de uso y no de venta, por lo que la autorización que recibe el Pasajero para el uso de la Aplicación y/o Página Web no implica que este reciba la propiedad de la Aplicación y/o Página Web o de sus derechos. En consecuencia, el Pasajero se encuentra impedido de instalar, copiar y/o utilizar la Aplicación o Pagina Web de forma contraria a la establecida en el presente contrato. TaxiXpress, sus proveedores y filiales se reservan todos los derechos otorgados expresamente en virtud de este contrato.</p>
	<p>7.3       El Pasajero no ha abonado contraprestación alguna por el uso de los derechos de Propiedad Intelectual de TaxiXpress, y ninguna de las disposiciones del presente contrato dará derecho al Pasajero sobre los derechos de Propiedad Intelectual de TaxiXpress. El Pasajero no utilizará, ni solicitará el registro, dentro del territorio las marcas, nombres comerciales, logotipos, denominaciones sociales, nombres de dominio, signos distintivos u otras designaciones ni intentará registrar las marcas, nombres comerciales, logotipos, denominaciones sociales, nombres de dominio, signos distintivos  u otras designaciones que pudieran causar confusión con los derechos de Propiedad Intelectual de TaxiXpress.</p>
	<p>7.4       El Pasajero reconoce que TaxiXpress es propietaria de todos los derechos de Propiedad Intelectual de TaxiXpress y demás derechos intelectuales de TaxiXpress, por lo que acuerda no reclamar en ningún momento durante la vigencia de este contrato ni con posteriores a ello ningún derecho ni hacer que afecte la validez de cualquiera de los derechos de Propiedad Intelectual de TaxiXpress (incluyendo, sin que implique limitación alguna, cualquier acto o asistencia que pudiera violar o causar la violación de cualquiera de los derechos patrimoniales de TaxiXpress). El Pasajero acuerda adherirse a las políticas e instrucciones de TaxiXpress respecto del uso de los derechos de Propiedad Intelectual de TaxiXpress, conforme pudieran ser publicados o comunicados en forma periódica.<br />
	<strong>8.         ACTUALIZACIONES DE LA APLICACIÓN</strong></p>
	<p>8.1       TaxiXpress podrá libremente, no siendo ello una obligación, poner a disposición del Pasajero actualizaciones de la Aplicación para su descarga. Queda establecido que la descarga de alguna de las actualizaciones implica que el Pasajero renuncia voluntariamente a su derecho de utilizar cualquier versión anterior de la Aplicación.</p>
	<p>8.2       La Aplicación ha sido programada de tal modo que es capaz de conectarse automáticamente a internet y buscar actualizaciones disponibles, las cuales pueden descargarse automáticamente, siempre y cuando la configuración del dispositivo así lo permita.</p>
	<p>8.3       TaxiXpress se reserva el derecho de suprimir y/o modificar el contenido de la Aplicación, cuando así lo considere necesario, a efectos de cumplir con los estándares comerciales de TaxiXpress así como con las disposiciones legales que fuesen aplicables.</p>
	<p>8.4. La actualización de la aplicación no tiene un costo, sin embargo podrían haber costos asociados al plan de datos del usuario para dicho proceso de descarga.</p>
	<p><strong>9.        </strong>   <strong>  CONEXIÓN A INTERNET Y SERVICIOS EN LÍNEA</strong></p>
	<p>9.1          La Aplicación requiere estar conectada a Internet para su funcionamiento.</p>
	<p>Asimismo, es capaz de hacer que el teléfono móvil o celular o tableta se conecte automáticamente a Internet para notificar a TaxiXpress que la Aplicación se ha instalado correctamente y que se encuentra en adelante habilitada para utilizar sus funciones así como realizar solicitudes de servicios. De igual modo requiere contar con la función de GPS activada. Cuando la Aplicación se conecta automáticamente a Internet, se envía a un sitio web de TaxiXpress una dirección de protocolo de Internet asociada a su conexión de Internet actual. En el caso de la Página Web requiere que el usuario se encuentre conectado a internet para poder utilizarla.</p>
	<p>9.2          La Aplicación o la Página Web puede facilitar el acceso a sitios web y servicios mantenidos por terceros. El uso que haga de un servicio en línea ofrecidos por terceros está sujeto exclusivamente a los términos correspondientes a dicho servicio.  Al respecto, TaxiXpress podrá, en cualquier momento y por cualquier razón, TaxiXpress necesidad de previo aviso, modificar o inhabilitar el acceso a cualquier sitio web y servicios en línea de terceros. TaxiXpress no será responsable de ningún tipo de información comercial u ofertas emitidas por los servicios en línea ofrecidos por terceros, o cualquier tercero que haya contratado la publicación de un espacio publicitario para la comercialización o promoción de bienes o servicios dentro la Aplicación y/o Página Web. Cualesquiera acuerdos alcanzados con terceros (incluidos los anunciantes) presentes en la Aplicación y/o página web, así como la participación en promociones y, en particular, las políticas de privacidad y el uso de su información personal, la entrega y el pago de bienes y servicios, pero también cualquier otro término, condición, garantía o manifestación asociados con dichos acuerdos o promociones, son exclusivamente entre el Pasajero y el anunciante o tercero. Usted reconoce expresamente que TaxiXpress no asume ninguna responsabilidad respecto de dichos acuerdos o promociones. TaxiXpress no controla, aprueba ni acepta alguna responsabilidad por los servicios en línea ofrecidos por terceros. Asimismo, tampoco forma parte de la relación que se configure entre el Pasajero y dichos terceros. En consecuencia, cualquier condición establecida entre el Pasajero y un tercero en relación a un servicio en línea de terceros que este último ofrezca, incluyendo las políticas de privacidad y el uso de su información personal, la entrega de y el pago por los bienes o servicios y cualesquiera otros términos asociados a tales servicios, será vinculante única y exclusivamente para el Pasajero y dicho tercero, más no para TaxiXpress.</p>
	<p><strong>10.            RENUNCIA DE GARANTÍAS</strong></p>
	<p>10.1       El Pasajero reconoce que TaxiXpress le está permitiendo utilizar la aplicación que se le proporciona “como esta”, sin ningún tipo de garantía de su funcionamiento, toda vez que TaxiXpress no es el creador del software. El Software es propiedad de TaxiXpress Limited.</p>
	<p>10.2       Por medio del presente documento, el Pasajero reconoce que asume el riesgo y responsabilidad respecto de cualquier tipo de daño que pudiese sufrir como consecuencia del incumplimiento, hecho, acto u omisión por parte de los taxistas afiliados que atienden los traslados solicitados a través de la Aplicación y/o la Página Web. Esta disposición se debe fundamentalmente a que la relación entre el taxista afiliado y los pasajeros es completamente independiente de TaxiXpress. En consecuencia, TaxiXpress no es bajo ninguna circunstancia responsable por daños, perjuicios, reclamaciones, pérdidas o costos de cualquier tipo derivados del uso de la Aplicación y/o Página Web por parte del Pasajero.</p>
	<p>10.3       TaxiXpress no hace declaración o garantía alguna sobre el contenido de la aplicación ni la veracidad, integridad o exhaustividad de la información contenida en la aplicación o la información que proporcionen otros taxistas o pasajeros, incluyendo información respecto a la honorabilidad, ubicación e identidad de algún taxista afiliado. La información, consejos, conceptos, calificaciones, evaluaciones y opiniones publicadas en la aplicación no necesariamente reflejan la posición de TaxiXpress, ni de sus empleados, oficiales, directores, accionistas, licenciatarios, proveedores y afiliadas. Por esta razón, TaxiXpress, no se hace responsable por alguna información, consejos, opiniones y conceptos que se emitan o publiquen en la aplicación.</p>
	<p>10.4       TaxiXpress no se responsabiliza por cualquier daño, perjuicio o pérdida al Pasajero causados por fallas en el sistema, en el servidor o en Internet. TaxiXpress tampoco será responsable por cualquier virus que pudiera infectar los equipos del Pasajero como consecuencia del acceso, uso o examen de su sitio web o a raíz de</p>
	<p>cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Pasajeros NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. TaxiXpress no garantiza el acceso y uso continuado o ininterrumpido de Aplicación y/o la Página Web. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a TaxiXpress; en tales casos se procurará restablecerlo con la mayor celeridad posible, sin que por ello pueda imputársele algún tipo de responsabilidad.</p>
	<p><strong>11.       LEY APLICABLE Y JURISDICCIÓN</strong></p>
	<p>11.1 Este contrato se regirá por las leyes de la República del Perú. Cualquier disputa o controversia relacionada con este contrato, se resolverá en los tribunales competentes. Ambas partes renuncian a cualquier otra jurisdicción que pudiere corresponderles.</p>
	<p><strong>12.       PLAZO Y TERMINACIÓN</strong></p>
	<p>12.1. Este contrato permanecerá vigente por tiempo indefinido. El Pasajero o TaxiXpress podrán darlo por terminado en cualquier momento, mediante simple notificación por correo electrónico, aviso a través de su Aplicación o por escrito entregada a la otra parte con al menos 24 (veinticuatro) horas de anticipación a la terminación. La resolución del contrato implicará que el derecho y autorización del Pasajero para utilizar la aplicación quedará sin efecto, por lo que este se compromete a eliminar la Aplicación de su teléfono celular, móvil o tableta en el momento en que el contrato fuese resuelto. De igual modo la resolución del contrato implica que el usuario elimine de su memoria cache cualquier almacenaje del acceso a la página web de TaxiXpress.</p>
	<p><strong>13.       DISPOSICIONES GENERALES</strong></p>
	<p>13.1    TaxiXpress y el Pasajero dejan constancia que las cláusulas y numerales del presente contrato son separables y que la nulidad, ineficacia o invalidez de una o más de ellas no perjudicará a las restantes, las cuáles permanecerán como válidas, eficaces y vinculantes.</p>
	<p>13.2     Los puntos 9, 10, 12 y 13 seguirán en vigor después de la terminación de este contrato por cualquier causa.</p>
	<p>13.3     Estos términos y condiciones podrán ser modificados en cualquier momento por TaxiXpress mediante aviso por correo electrónico o a través de la Aplicación y/o la Página Web. El Pasajero tendrá derecho a terminar el contrato si no está de acuerdo con las modificaciones. En caso de que el Pasajero continúe utilizando la Aplicación y/o la Página Web después de haber recibido las modificaciones, se entenderá que el Pasajero ha aceptado las modificaciones.</p>
	<p>13.4     El presente contrato representa el acuerdo completo entre TaxiXpress y el Pasajero en relación con la Aplicación y/o Página Web y reemplaza cualquier representación, conversación, compromiso, comunicación o publicidad anterior en relación con la Aplicación y/o Página Web.</p>
	<p><strong>14.       AVISO DE PRIVACIDAD</strong></p>
	<p>14.1     <strong>Responsable de sus Datos Personales.</strong> TaxiXpress Perú S.A. (“TaxiXpress”), con domicilio en Calle Antares 320, Torre A, Oficina 806 – Santiago de Surco, será el único responsable del tratamiento, uso, almacenamiento y divulgación de sus datos personales, conforme a lo establecido en el presente aviso de privacidad.</p>
	<p>14.2     <strong>Datos Personales que recaba y almacena TaxiXpress </strong>.</p>
	<p>Los datos personales  que TaxiXpress podrá recabar serán:</p>
	<p>Nombre completo;</p>
	<p>Dirección postal de contacto;</p>
	<p>Edad, así como lugar y fecha de nacimiento;</p>
	<p>Fecha en la que descargó la Aplicación y fecha de registro;</p>
	<p>Número de teléfono y/o teléfono celular;</p>
	<p>Correo electrónico;</p>
	<p>Modelo, marca, sistema operativo y características del teléfono móvil o celular o</p>
	<p>tableta del Pasajero;</p>
	<p>Dirección física, fecha y hora en el que el Pasajero solicita un servicio de</p>
	<p>transporte a través de la Aplicación y/o página web;</p>
	<p>Dirección física, fecha y hora en la que el Pasajero aborda un taxi para un</p>
	<p>servicio solicitado a través de la Aplicación y/o página web, así como el destino</p>
	<p>al cual se dirige, el trayecto y la ruta por la cual se dirige a dicho destino y la</p>
	<p>dirección física en la que el Pasajero se baje del taxi;</p>
	<p>Búsquedas y solicitudes de taxis que el Pasajero haya realizado a través de la</p>
	<p>Aplicación y/o página web;</p>
	<p>Servicios solicitados y servicios completados a través de la Aplicación y/o</p>
	<p>página web;</p>
	<p>Ubicación del teléfono móvil, celular o tableta en tiempo real lo que puede</p>
	<p>revelar la ubicación del Pasajero en tiempo real (Geolocalización);</p>
	<p>Calificaciones, opiniones o comentarios que del Pasajero hagan los taxistas</p>
	<p>afiliados o terceros;</p>
	<p>Calificaciones, opiniones o comentarios que el Pasajero haga de taxistas</p>
	<p>afiliados o terceros; y</p>
	<p>Taxistas Afiliados y taxis que el Pasajero haya seleccionado (incluyendo datos</p>
	<p>del taxista y del vehículo empleado).</p>
	<p>Los datos técnicos de llamadas entre el pasajero y el taxista afiliado, siempre y</p>
	<p>cuando se realicen por la Aplicación</p>
	<p>Los mensajes entre el pasajero y el taxista afiliado, siempre y cuando se realicen</p>
	<p>por la Aplicación</p>
	<p> TaxiXpress no recaba datos sensibles. Si el Pasajero publica o postea cualquier dato</p>
	<p>sensible en la Aplicación y/o Página Web será bajo su absoluta responsabilidad y</p>
	<p> TaxiXpress se reserva el derecho de suprimirlo.</p>
	<p>El Pasajero podrá compartir su viaje con terceros, siendo bajo su responsabilidad la</p>
	<p>entrega de dicha información.</p>
	<p>14.3 TaxiXpress previo consentimiento del Pasajero, podrá recabar datos de las tarjetas</p>
	<p>de crédito y/o débito desde una sección especial de modalidad de pago. Esta</p>
	<p>información al ser un dato sensible de acuerdo a la ley 29733, tendrá un especial</p>
	<p>tratamiento y protección por parte de la empresa y el procesador de pagos. Se</p>
	<p>entenderá por consentimiento expreso el ingresar los datos de la tarjeta de crédito</p>
	<p>y/o débito en la aplicación o en la página web. No obstante, si el Pasajero publica o</p>
	<p>postea cualquier otro dato sensible, de acuerdo a lo establecido en la ley 29733,en la</p>
	<p>Aplicación y/o página web será bajo su absoluta responsabilidad y TaxiXpress se</p>
	<p>reserva el derecho de suprimirlo.</p>
	<p>14.4    <strong> Formas de Obtener los Datos Personales.</strong> TaxiXpress obtiene los datos</p>
	<p>personales directamente del Pasajero, de terceros, de taxistas, de fuentes públicas o</p>
	<p>en forma automática a través de la Aplicación y cookies, web beacons u otras</p>
	<p>funcionalidades que permiten ubicarlo en el espacio.</p>
	<p>14.5   <strong>  Uso de sus Datos Personales.</strong> Los datos personales con los que contará</p>
	<p> TaxiXpress se administrarán y se tratarán para las siguientes finalidades que son</p>
	<p>estrictamente necesarias para el cumplimiento de la relación jurídico-comercial que</p>
	<p>el Pasajero mantiene con TaxiXpress y para el uso de la Aplicación y/o Página Web de</p>
	<p>acuerdo a sus funcionalidades. Usted manifiesta aceptar y dar consentimiento libre,</p>
	<p>previo, expreso, inequívoco e informado para el tratamiento de sus datos personales</p>
	<p>a favor de TaxiXpress Perú S.A. para los siguientes fines:</p>
	<p>Medir la calidad de los servicios de taxistas que el Pasajero haya contratado y</p>
	<p>canalizar adecuadamente sus solicitudes de servicio de taxi;</p>
	<p>Analizar y evaluar sus características y cumplimiento como pasajero;</p>
	<p>Monitorear el debido cumplimiento contractual;</p>
	<p>Atender cualquier queja, pregunta o comentario del Pasajero;</p>
	<p>Para solicitarle y compartir sus opiniones, comentarios y calificaciones de</p>
	<p>taxistas con otros pasajeros que tengan autorización de uso de la Aplicación y/o</p>
	<p>página web;</p>
	<p>Para compartir su ubicación e información con taxistas y usuarios que cuenten</p>
	<p>con la Aplicación de Taxistas y que éstos puedan evaluarlo y contactarlo cuando</p>
	<p>el Pasajero envíe solicitudes de servicios a través de la Aplicación y/o página</p>
	<p>web;</p>
	<p>Para compartir las evaluaciones, calificaciones, comentarios u opiniones que</p>
	<p>terceros hagan respecto del Pasajero con pasajeros potenciales y usuarios que</p>
	<p>cuenten con la Aplicación de Pasajeros o accedan por medio de la página web;</p>
	<p>Fines estadísticos;</p>
	<p>Mejorar la calidad de la Aplicación y/o la Página Web y los servicios de</p>
	<p> TaxiXpress; y</p>
	<p>Enviar notificaciones relacionadas con las modificaciones que se realicen al</p>
	<p>presente aviso de privacidad.</p>
	<p>14.6 En adición a lo anterior, sus datos de contacto podrán ser utilizados para enviar</p>
	<p>notificaciones, avisos, propaganda o publicidad sobre productos de TaxiXpress o de</p>
	<p>terceros y para envío de información, revistas y noticias o de temas que TaxiXpress </p>
	<p>consideremos que pueden interesarle, así como noticias, comunicaciones o</p>
	<p>publicidad de TaxiXpress o sus empresas relacionadas.</p>
	<p>14.7 En caso de que no se desee autorizar el uso de sus datos personales para las</p>
	<p>finalidades en este párrafo, TaxiXpress agradece lo haga saber enviándonos un correo</p>
	<p>electrónico a soporte@taxixpress.com.pe. El Pasajero podrá revocar su consentimiento</p>
	<p>en cualquier momento enviándonos una notificación a la siguiente dirección de</p>
	<p>correo electrónico a soporte@taxixpress.com.pe o haga llegar la misma a TaxiXpress al</p>
	<p>domicilio señalado en el punto 13.1 anterior.</p>
	<p>14.8 Los datos personales que se recaben, formarán parte de una base de datos que</p>
	<p>permanecerá vigente durante aquel periodo que TaxiXpress considere necesario para</p>
	<p>cumplir la finalidad específica para la que los datos fueron recabados, una vez</p>
	<p>concluido éste, sus datos se cancelarán y bloquearán, para su posterior supresión de</p>
	<p>conformidad con la Ley de Protección de Datos Personales, Ley Nº29733 y su</p>
	<p>norma reglamentaria</p>
	<p>14. 9 Queda expresamente establecido que con la celebración del presente contrato</p>
	<p>el Pasajero otorga su consentimiento para el uso de sus datos personales para las</p>
	<p>finalidades referidas, el cual es revocable en cualquier momento enviándonos una</p>
	
	<p>llegar la misma a TaxiXpress al domicilio señalado en el punto 13.1 anterior.</p>
	<p>14.10  <strong>¿Con quién compartimos sus datos personales?</strong> Asimismo TaxiXpress le</p>
	<p>informa que sus datos personales podrán ser transferidos y tratados dentro y fuera de</p>
	<p>Perú, particularmente en el Reino Unido y Estados Unidos de América, para las</p>
	<p>finalidades establecidas en el presente Aviso de Privacidad y para poder cumplir con</p>
	<p>las obligaciones legales de TaxiXpress frente a el Pasajero y frente a las autoridades de</p>
	<p>los países en las que opera TaxiXpress. En ese caso el Pasajero declara conocer,</p>
	<p>manifiesta su conformidad y declara su consentimiento para que su información</p>
	<p>personal puede ser compartida con:</p>
	<p>Otros empleados, contratistas, prestadores de servicio y asesores de TaxiXpress;</p>
	<p>Filiales, accionistas y subsidiarias de TaxiXpress;</p>
	<p>Auditores externos, proveedores de servicios, compañías de informática y</p>
	<p>terceros que procesan la información por cuenta de TaxiXpress;</p>
	<p>Autoridades en Perú, el Reino Unido, Estados Unidos de América o en el</p>
	<p>extranjero; y</p>
	<p>A cualquier otra persona autorizada por la ley o el reglamento aplicable.</p>
	<p>14. 11 De conformidad con lo establecido, TaxiXpress hará del conocimiento de dicho</p>
	<p>tercero los términos y condiciones del presente Aviso de Privacidad a efecto de</p>
	<p>salvaguardar sus datos personales. TaxiXpress no requiere el consentimiento del</p>
	<p>Pasajero para hacer estas transferencias salvo que las mismas se hagan para una</p>
	<p>finalidad que sea diferente a las mencionadas anteriormente.</p>
	<p>14.12 Asimismo, sus datos de contacto, ubicación e información general, así como</p>
	<p>las opiniones, comentarios, evaluaciones y calificaciones que respecto a el Pasajero</p>
	<p>hagan taxistas afiliados o usuarios de la Aplicación de Taxistas será compartida con</p>
	<p>taxistas afiliados y usuarios que cuenten con la Aplicación de Taxistas. Si el</p>
	<p>Pasajero no desea que su información sea compartida con dichos taxistas afiliados y</p>
	<p>usuarios que cuenten con la Aplicación de Taxistas entonces el Pasajero no podrá</p>
	<p>utilizar la Aplicación y/o Página Web ya que es un requisito esencial para que el</p>
	<p>Pasajero pueda enviar solicitudes de servicio a través de la Aplicación y/o Página</p>
	<p>Web.</p>
	<p>14.13 Por otro lado, sus opiniones, comentarios, evaluaciones y calificaciones</p>
	<p>respecto de taxistas afiliados será compartida con otros pasajeros o usuarios de la</p>
	<p>Aplicación y/o página web.   Asimismo, al ser la base de datos de pasajeros uno de</p>
	<p>los activos más importantes de TaxiXpress, ciertos terceros interesados en hacer</p>
	<p>negocios con TaxiXpress requieren información personal de los pasajeros. Por lo</p>
	<p>anterior, también serán compartidos los datos personales del Pasajero con</p>
	<p>cesionarios o adquirentes de créditos o carteras crediticias, aliados comerciales y</p>
	<p>terceros interesados en hacer negocios, otorgar financiamientos, comprar acciones,</p>
	<p>créditos, o activos de TaxiXpress o sus accionistas o filiales en Perú o alrededor del</p>
	<p>mundo o fusionarse con TaxiXpress. Asimismo, podríamos compartir sus datos de</p>
	<p>contacto con aliados comerciales de sectores financieros, tecnológicos, productos de</p>
	<p>consumo, automóviles, bebidas, alimentos y medios de comunicación a efecto que</p>
	<p>ellos puedan enviarle publicidad de sus productos o servicios. Al respecto, por</p>
	<p>medio de la celebración del presente contrato el Pasajero autoriza a TaxiXpress a</p>
	<p>compartir sus datos personales para los fines establecidos en este párrafo.</p>
	<p>14.14 Esta manifestación de voluntad que realiza aceptando la transferencia de sus</p>
	<p>datos personales, puede ser luego revocada por el pasajero en cualquier momento,</p>
	<p>enviándonos un correo electrónico a soporte@taxixpress.com.pe.</p>
	<p>14.15 <strong>Medidas de seguridad de datos personales.</strong> TaxiXpress adoptará todas y cada</p>
	<p>una de las medidas de seguridad administrativas, físicas y técnicas que establezca la</p>
	<p>ley aplicable para salvaguardar su información personal, por lo que de igual manera</p>
	<p>y en caso de que un tercero necesite conocer de dicha información, TaxiXpress </p>
	<p>obligará a dichos terceros a cumplir con el presente Aviso de Privacidad, así como a</p>
	<p>adoptar las medidas de seguridad administrativas, físicas y técnicas establecidas en</p>
	<p>la ley aplicable, a fin de proteger sus datos personales de cualquier daño, perdida,</p>
	<p>alteración, destrucción o el uso, acceso o tratamiento no autorizado.</p>
	<p>Sin perjuicio de lo anterior, si bien TaxiXpress maneja un sistema de base de datos que</p>
	<p>cumple con la diligencia y cuidado debido de seguridad, el Pasajero reconoce que</p>
	<p>las comunicaciones electrónicas no son absolutamente seguras y que cualquier</p>
	<p>sistema informático, por más que se encuentre protegido con una debida diligencia,</p>
	<p>se encuentra expuesto a eventuales vulneraciones que pudiesen afectar su</p>
	<p>funcionamiento o seguridad. En consecuencia, TaxiXpress no garantiza que no se</p>
	<p>produzcan daños, pérdidas, destrucciones, extravíos, alteraciones o tratamientos no</p>
	<p>autorizados producto de las referidas vulneraciones.</p>
	<p>14.16  Medios para ejercer los derechos de acceso, rectificación, oposición y</p>
	<p>cancelación. El Pasajero tiene derecho de acceder a sus datos personales que se</p>
	<p>encuentren en la base de datos de TaxiXpress y a los detalles del tratamiento de los</p>
	<p>mismos, así como a rectificarlos en caso de ser inexactos o cancelarlos cuando</p>
	<p>considere que resulten ser excesivos o innecesarios para las finalidades que</p>
	<p>justificaron su obtención u oponerse al tratamiento de los mismos para los fines</p>
	<p>específicos que no sean necesarios para la relación jurídica con TaxiXpress.</p>
	<p>En caso de que el Pasajero, como titular de sus datos personales desee ejercer</p>
	<p>cualquiera de los derechos antes mencionados, TaxiXpress le solicita que envíe la</p>
	<p>solicitud de ejercicio de derechos que corresponda, al Encargado de Tratamiento de</p>
	<p>Datos Personales de TaxiXpress a través de la siguiente dirección de correo</p>
	<p>electrónico: soporte@taxixpress.com.pe o haga llegar la misma a TaxiXpress al domicilio</p>
	<p>señalado en el punto 13.1 anterior.</p>
	<p>Dicha solicitud deberá contener como mínimo la siguiente información: (i) nombre</p>
	<p>y domicilio, a efecto de dar respuesta a su solicitud en los plazos establecidos en la</p>
	<p>ley aplicable; (ii) copia de su DNI, o cualquier otro documento que acredite su</p>
	<p>identidad o acredite la personalidad de su representante legal, y en caso que la</p>
	<p>solicitud se realice a través del representante legal, acompañar el documento que</p>
	<p>acredita sus facultades como representante; (iii)descripción clara y precisa de los</p>
	<p>datos personales sobre los que se busca ejercer alguno de los derechos antes</p>
	<p>mencionados de acceso, rectificación, oposición, cancelación o revocación, así</p>
	<p>como la descripción clara y precisa de su solicitud; (iv) fecha y firma del solicitante</p>
	<p>y (v) cualquier otro elemento o documento que facilite la localización de dichos</p>
	<p>datos personales.</p>
	<p> TaxiXpress responderá cualquier solicitud completa en un plazo máximo de 10 días</p>
	<p>calendario o el máximo permitido por la ley, pudiendo ser ampliado por un plazo</p>
	<p>igual por razones debidamente justificadas. La respuesta de TaxiXpress indicará si la</p>
	<p>solicitud de acceso, rectificación, cancelación u oposición es procedente y, en caso</p>
	<p>que así lo sea, TaxiXpress hará efectiva la determinación de manera automática.</p>
	<p> TaxiXpress proporcionará copias electrónicas de su información personal en caso de</p>
	<p>que el Pasajero ejerza su derecho de acceso..</p>
	<p>14.17 <strong>¿Qué opciones tiene para limitar el uso y divulgación de sus datos?</strong> El</p>
	<p>uso de sus datos personales para aquellas finalidades que no son estrictamente</p>
	<p>necesarias para el cumplimiento de su relación con TaxiXpress y para limitar la manera</p>
	<p>en la que estime conveniente su uso y divulgación. El Pasajero podrá revocar o</p>
	<p>limitar su consentimiento para que usemos sus datos para finalidades que no son</p>
	<p>estrictamente necesarias o para que compartamos sus datos personales con personas</p>
	<p>o finalidades para las cuales requerimos su consentimiento enviándonos un correo</p>
	<p>electrónico a soporte@taxibeat.com.pe o mediante la opción “contáctanos” en la</p>
	<p>aplicación o una comunicación al domicilio señalado en el punto 13.1 anterior.</p>
	<p>Particularmente, el Pasajero tiene derecho a dejar de recibir mensajes de publicidad</p>
	<p>en su correo electrónico, teléfono o por cualquier otro medio a través de los</p>
	<p>procedimientos que hemos implementado. El Pasajero puede contactar a TaxiXpress en</p>
	<p>la forma que se indica anteriormente para estos efectos.</p>
	<p>De la misma manera, se hace de su conocimiento que tiene derecho a impedir que lo</p>
	<p>contactemos por teléfono para fines publicitarios o de prospección comercial</p>
	<p>inscribiéndose al Registro ”Gracias…No insista” del Instituto Nacional de Defensa</p>
	<p>de y de la Protección de la Propiedad Intelectual (INDECOPI). Para mayor</p>
	<p>información, consulte http://systems.indecopi.gob.pe/noinsista/home.seamo llame al</p>
	<p>(+511) 224-7777.</p>
	<p>14.18<strong> Redes Sociales.</strong> TaxiXpress podrá contar con un perfil, ya sea de la empresa o</p>
	<p>de sus productos, en las principales redes sociales tales como Facebook, Twitter,</p>
	<p>LinkedIn, Pinterest, etc. (en adelante, las “Redes Sociales”).</p>
	<p>Las Redes Sociales, servirán única y exclusivamente como un canal de</p>
	<p>comunicación inmediato con los seguidores de la empresa o sus productos, así como</p>
	<p>un medio electrónico de información y marketing de nuevos productos ofertas y</p>
	<p>promociones que sean realizadas por la empresa exclusivamente en su perfil y que</p>
	<p>será accesible a través del mismo a sus seguidores. TaxiXpress únicamente podrá</p>
	<p>conocer los datos personales que así lo permitan las Redes Sociales y en ningún</p>
	<p>caso extraerá los datos personales que pueda conocer de sus seguidores sin su</p>
	<p>consentimiento previo.</p>
	<p>Por otro lado, la Aplicación puede contener enlaces a Redes Sociales a través de las</p>
	<p>cuales el Pasajero puede compartir información personal.</p>
	<p>Hacemos de su conocimiento que tanto las Redes Sociales serán los titulares de las</p>
	<p>bases de datos que a éstos les corresponda, por lo que TaxiXpress le solicita leer las</p>
	<p>políticas de privacidad y condiciones de uso de las mismas.</p>
	<p>14.19 <strong>Modificaciones al Aviso de Privacidad.</strong> En relación con lo anterior TaxiXpress </p>
	<p>se reserva el derecho a modificar los términos y condiciones de este Aviso de</p>
	<p>Privacidad, acción que será publicada a través del sitio web de TaxiXpress:</p>
	<p>www.taxibeat.com.pe al que tendrá acceso cualquier persona que se encuentre</p>
	<p>interesada. De cualquier forma, TaxiXpress le recomienda que revise este aviso de</p>
	<p>privacidad cada vez que haga uso de la página web de TaxiXpress, a efecto de saber los</p>
	<p>cambios, modificaciones o actualizaciones que se realicen al mismo.</p>
	<p>EL SUSCRITO, OTORGA SU ACEPTACIÓN Y CONSENTIMIENTO A ESTE</p>
	<p>CONTRATO Y SUS TÉRMINOS Y CONDICIONES, INCLUYENDO EL AVISO</p>
	<p>DE PRIVACIDAD AL PRESIONAR “CLICK” EN EL BOTÓN ACEPTAR</p>
	<p>DESDE LA APLICACIÓN.</p>


